<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balsikandar.crashreporter">


    <application
        android:supportsRtl="true">

        <provider
            android:name=".CrashReporterInitProvider"
            android:authorities="${applicationId}.CrashReporterInitProvider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.CrashReporterActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.balsikandar.android.task"
            android:theme="@style/CrashReporter.Theme" />

        <activity
            android:name=".ui.LogMessageActivity"
            android:parentActivityName=".ui.CrashReporterActivity"
            android:theme="@style/CrashReporter.Theme" />
    </application>

</manifest>
